config/nvim/.netrwhist
config/nvim/.VimballRecord
config/nvim/log
config/nvim/undo
config/nvim/backup
config/nvim/plugged
config/nvim/spell
config/fish/local.fish
.irbrc
.DS_Store

*.shada
.nvimlog
config/nvim/*.log

.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags

